@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply h-10 w-full border-b-2 border-gray-300 text-gray-900 placeholder-transparent focus:outline-none focus:border-rose-600;
}
.float-label {
  @apply absolute left-0 -top-3.5 text-gray-600 text-sm transition-all;
}

.float-input:placeholder-shown ~ .float-placeholder-shown {
  top: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.float-input:focus ~ .float-focus {
  top: -0.875rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
